.controller-layout-component {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px; 
  margin: 0 auto; 
  padding: 20px;
  background-color: #1e1e2f; 
  border-radius: 12px;
  gap: 50px;
}

.controller-dpad-buttons-container,
.controller-dpad-buttons-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}
